
include ./../mixins/_assemblyItem.pug

section#complete.complete
	.wrapper
		.complete__titles
			p.overtitle ГОТОВЫЕ РЕШЕНИЯ ПО АКЦИИ
			h4.title Выбери метраж своего помещения

		.tabs 
			.tabs__header
				each btn in [' 6 м²', ' 9 м²', ' 12 м²']
					.tabs__btn
						.tabs__inner
							p Кухни на&nbsp;  
							span #{btn} 
			.tabs__box
				.tabs__content.tabs__content--6
					.swiper
						.tabs__items.swiper-wrapper
							+assemblyItem('kitchen-1.png', 'Линейная 2100 мм', '94 537', '0', '7 878')
							+assemblyItem('kitchen-2.png', 'Линейная 2100 мм', '123 905', '0', '10 325')
							+assemblyItem('kitchen-3.png', 'Угловая 2100 х 1300 мм', '153 400', '0', '12 783')
				.tabs__content.tabs__content--9
					.swiper
						.tabs__items.swiper-wrapper
							+assemblyItem('kitchen-4.png', 'Линейная 2350 мм', '147 464', '0', '12 288')
							+assemblyItem('kitchen-5.png', 'Линейная 2400 мм', '159 519', '0', '13 293')
							+assemblyItem('kitchen-6.png', 'Угловая 2300 х 1550 мм', '191 263', '0', '15 938')
							+assemblyItem('kitchen-6.png', 'Угловая 2300 х 1550 мм', '191 263', '0', '15 938')
				.tabs__content.tabs__content--12
					.swiper
						.tabs__items.swiper-wrapper
							+assemblyItem('kitchen-4.png', 'Линейная 2700 мм', '147 464', '0', '12 288')
							+assemblyItem('kitchen-5.png', 'Линейная 2700 мм', '159 519', '0', '13 293')
							+assemblyItem('kitchen-6.png', 'Угловая 2700 х 1570 мм', '225 336', '0', '18 778')