footer.footer 
	.wrapper 
		.footer__wrapper
			span.footer__more ещё больше кухонь от lorena
			.footer__buttons
				a.footer__button(href="https://nizhniy-novgorod.lorena-kuhni.ru/actions/sale/") перейти в распродажу на сайте
				a.footer__button(href="https://nizhniy-novgorod.lorena-kuhni.ru/catalog/") перейти в каталог на сайте