header.header 
	.header__wrapper
		img.header__logo(src="img/logo.svg", alt="logo")
		a.header__phone(href="tel:+73512207324") 8 351 220 73 24
		a.header__button.btn-transparent(href="#call" data-fancybox)  
			span заказать звонок
			img(src="img/phone.svg", alt="")