-
	towns = ['Альметьевск', 'Анапа', 'Барнаул', 'Белгород', 'Барезники', 'Барезники']

section.order
	.wrapper
		.order__wrapper
			.order__titles
				h6.order__title Оставить заявку
				p.order__tagtitle Оставьте заявку и мы с вами свяжемся
			.order__form 
				include ./../layouts/form.pug
