mixin advantagesSlideItem(icon, title, text, num1, num2)
	.swiper-slide.advantages-slider__slide
		img.advantages-slider__icon(src="img/" + icon, alt=title)
		.advantages-slider__info 
			h6.advantages-slider__title #{title}
			p.advantages-slider__text #{text}