<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Promo Lorena
	body
		
		// ======================================== PRELOADER
		include ./../layouts/preloader.pug
		// ======================================== HEADER
		include ./../sections/_header.pug
		// ======================================== HOME
		include ./../sections/_home.pug
		// ======================================== ПРЕИМУЩЕСТВА
		include ./../sections/_advantages.pug
		// ======================================== СОЧЕТАНИЕ ДЕКОРОВ
		include ./../sections/_decors.pug
		// ======================================== МЕТРАЖ ПОМЕЩЕНИЯ
		include ./../sections/_complete.pug
		// ======================================== КОМПЛЕКТЫ ТЕХНИКИ
		include ./../sections/_technic.pug
		// ======================================== ФОРМА ОБРАТНОЙ СВЯЗИ
		include ./../sections/_order.pug
		// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== POPUP
		include ./../sections/_popup.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug


